/*General Styling!*/
html{
    background-image:url(images/canyon.avif);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: auto;
    /*Image taken from https://unsplash.com/photos/starry-night-sky-over-desert-rock-formations-BMhglVdk3lA*/
    background-color:rgb(236, 197, 210);
}

h1{
    font-family:Kpop;
    padding:7px;
}

.navbar{
font-family:DS;
margin: -10px;
display: flex;
justify-content: space-between;
backdrop-filter: blur(10px);
background-color: #cf1d82;
color: #ffffff;
backdrop-filter: blur(10px);
}

#welcome{
    position: absolute;
    top: 50%; left:50%; transform: translate(-50%, -50%);
    padding: 10px; border: solid; width: 256px; border-radius: 5px;
    background-color:#7fd4d0; border-color:#cf1d82;
    font-family: Komika;
}

.X{
    display: flex;
    justify-content: left;
    margin: -10px;
    padding: 7px;
    font-family: Matcha;
    color:#ffffff;
    background-color:#cf1d82;
}

#playlist{
    position: absolute;
    top: 50%; left:50%; transform: translate(-50%, -50%);
    padding: 10px; border: solid; width: 256px; border-radius: 5px;
    background-color:#7fd4d0; border-color:#cf1d82;
    font-family: Komika;
}

/*Font Library*/
@font-face {
    font-family:DS;
    src: url(fonts/ds_digital/DS-DIGI.TTF);
}
@font-face {
    font-family:Kpop;
    src: url(fonts/hunters_k_pop/Hunters\ K-Pop.otf);
}
@font-face{
    font-family:Matcha;
    src: url(fonts/matcha_mint/Matcha\ Mint.otf);
}
@font-face{
    font-family:Komika;
    src: url(fonts/komika_text/KOMTXT__.ttf);
}