.navbar{
font-family:DS;
border-radius: 5px;
}
h1{
    font-family:Kpop;
}

/*Font Library*/
@font-face {
    font-family:DS;
    src: url(fonts/ds_digital/DS-DIGI.TTF);
}
@font-face {
    font-family:Kpop;
    src: url(fonts/hunters_k_pop/Hunters\ K-Pop.otf);
}