html{
    background-image:url(images/canyon.avif);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: auto;
    /*Image taken from https://unsplash.com/photos/starry-night-sky-over-desert-rock-formations-BMhglVdk3lA*/
    background-color:rgb(236, 197, 210);
}

.navbar{
font-family:DS;
border-radius: 5px;
display: flex;
justify-content: space-between;
backdrop-filter: blur(10px);
background-color: #cf1d82;
color: #ffffff;
backdrop-filter: blur(10px);
}

h1{
    font-family:Kpop;
}

.X{
    display: flex;
    justify-content: left;
    margin: 0px;
    padding: 5px;
    font-family: Matcha;
    color:#ffffff;
    background-color:#cf1d82;
    border-radius:5px;
}

/*Font Library*/
@font-face {
    font-family:DS;
    src: url(fonts/ds_digital/DS-DIGI.TTF);
}
@font-face {
    font-family:Kpop;
    src: url(fonts/hunters_k_pop/Hunters\ K-Pop.otf);
}
@font-face{
    font-family:Matcha;
    src: url(fonts/matcha_mint/Matcha\ Mint.otf);
}